<navigation></navigation>

<div class="main-content">
        <section class="art-buttons">
            <a href="" class="dropdown-toggle art-type" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret-left"></span>Art Type<span class="caret-right"></span>
            </a>
            <ul class="dropdown-menu art-type-dropdown">
                <li ><a href=""style="height: 25px">Personal<br><span class="caret"></br></span></a></li>
                <li><a href="" style="height: 25px">Commissions<br><span class="caret"></br></span></a></li>
                <li><a href="" style="height: 25px">Comics<br><span class="caret"></br></span></a></li>
            </ul>
        </section> <!--end art-buttons-->
    <div class="art-selection">
        
        <section> <!--slick carousel to be populated by imagesCtrl-->
        <!--<slick ng-if="imagesCtrl.commissions.length" >
            <div ng-repeat="(key, value) in imagesCtrl.commissions">
                <img ng-src="{{images.commissions}}" alt="{{images.title}}"/>
            </div>
        </slick> -->
            <div class="decor-line"></div>
            <div class="carousel">
                <div class="pic-thumb">
                    <a href="Images/Personal-Art/by_sicilianvalkyrie:2.jpg">
                        <img src="Images/Personal-Art/by_sicilianvalkyrie:2.jpg">
                    </a>
                </div>
                <div class="pic-thumb">
                    <a href="Images/Commissions/by_sicilianvalkyrie:1.jpg">
                        <img src="Images/Commissions/by_sicilianvalkyrie:1.jpg">
                    </a>
                </div>
                <div class="pic-thumb">
                    <a href="Images/Personal-Art/by_sicilianvalkyrie:3.jpg">
                        <img src="Images/Personal-Art/by_sicilianvalkyrie:3.jpg">
                    </a>
                </div>
            </div>
            <div class="carousel">
                <div class="pic-thumb">
                    <a href="Images/Personal-Art/by_sicilianvalkyrie:2.jpg">
                        <img src="Images/Personal-Art/by_sicilianvalkyrie:2.jpg">
                    </a>
                </div>
                <div class="pic-thumb">
                    <a href="Images/Commissions/by_sicilianvalkyrie:1.jpg">
                        <img src="Images/Commissions/by_sicilianvalkyrie:1.jpg">
                    </a>
                </div>
                <div class="pic-thumb">
                    <a href="Images/Personal-Art/by_sicilianvalkyrie:3.jpg">
                        <img src="Images/Personal-Art/by_sicilianvalkyrie:3.jpg">
                    </a>
                </div>
            </div>
            <div class="carousel">
                <div class="pic-thumb">
                    <a href="Images/Personal-Art/by_sicilianvalkyrie:2.jpg">
                        <img src="Images/Personal-Art/by_sicilianvalkyrie:2.jpg">
                    </a>
                </div>
                <div class="pic-thumb">
                    <a href="Images/Commissions/by_sicilianvalkyrie:1.jpg">
                        <img src="Images/Commissions/by_sicilianvalkyrie:1.jpg">
                    </a>
                </div>
                <div class="pic-thumb">
                    <a href="Images/Personal-Art/by_sicilianvalkyrie:3.jpg">
                        <img src="Images/Personal-Art/by_sicilianvalkyrie:3.jpg">
                    </a>
                </div>
            </div>
        </section> <!--end carousel-->
    </div> <!--end art-selection-->
        <section>
            <div class="home-main">
                <img src="Images/Commissions/by_sicilianvalkyrie:1.jpg" class="current-img">
            </div>
        </section> <!-- end home-main-->
</div>
<!--<div class="your-class">
  <div><img src="Images/Personal-Art/by_sicilianvalkyrie:2.jpg" alt=""></div>
  <div><img src="Images/Personal-Art/by_sicilianvalkyrie:3.jpg" alt=""></div>
  <div><img src="Images/Personal-Art/by_sicilianvalkyrie:4.jpg" alt=""></div>
</div>-->