<navigation></navigation>

<div class="container">

<div class="home-main"> 
    <img src="Images/Commissions/by_sicilianvalkyrie:1.jpg" class="current-img">
    <a href="" class="dropdown-toggle art-type" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret-left"></span>Art Type<span class="caret-right"></span></a>
          <ul class="dropdown-menu art-type-dropdown">
            <li ><a href=""style="height: 25px">Personal<br><span class="caret" style="margin-bottom: 20px; margin-left: 24px"></br></span></a></li>
            <li><a href="" style="height: 25px">Commissions<br><span class="caret" style="margin-bottom: 20px; margin-left: 36px"></br></span></a></li>
            <li><a href="" style="height: 25px">Comics<br><span class="caret" style="margin-bottom: 20px; margin-left: 23px"></br></span></a></li>
          </ul>
    </div>
    <div class="page-header"></div>
<div class="carousel">
    <div class="pic-thumb">
            <a href="Images/Personal-Art/by_sicilianvalkyrie:2.jpg">
                <img src="Images/Personal-Art/by_sicilianvalkyrie:2.jpg">
            </a>
        </div>
    <div class="pic-thumb">
            <a href="Images/Personal-Art/by_sicilianvalkyrie:3.jpg">
                <img src="Images/Personal-Art/by_sicilianvalkyrie:3.jpg">
            </a>
        </div>
        <div class="pic-thumb">
            <a href="Images/Commissions/by_sicilianvalkyrie:1.jpg">
                <img src="Images/Commissions/by_sicilianvalkyrie:1.jpg">
            </a>
        </div>
        <div class="pic-thumb">
            <a href="Images/Personal-Art/by_sicilianvalkyrie:5.jpg">
                <img src="Images/Personal-Art/by_sicilianvalkyrie:5.jpg">
            </a>
        </div>
        <div class="pic-thumb">
            <a href="Images/Personal-Art/by_sicilianvalkyrie:6.jpg">
                <img src="Images/Personal-Art/by_sicilianvalkyrie:6.jpg">
            </a>
        </div>
  </div>
 </div> 
</div>