<navigation></navigation>

<div class="container" ng-controller='pricingCtrl'>
  <div class="pricing-page-header">
    <h2>Submit a Commission</h2>
  </div>

<!--some code here to populate price as user makes changes-->
<div class="" style="display: inline-block">
  <h3 style="">Estimated Price</h3>
  <h4 style="text-align: left; color: #E91E63; padding-top: 10px;">* this price is an estimate only</h4>
  <p style="text-align: center; font-size: medium">$ changes as  to criteria</p>
</div>

<div class="customer-form">

  <form ng-submit="vm.onSubmit()">
      <!--will link art example url/s for selected art type and populate a base price in designated field-->
    <div class="form-group">
      <label for="ArtType">Art Type</label>
      <input type="text" class="form-control" placeholder="Select an Art Type" ng-model="vm.newCommission.ArtType" required>
    </div>
    <div class="form-group">
      <label for="Description">Describe your Commission</label>
      <input type="text" class="form-control" id="description" placeholder="briefly describe what I could draw for you" ng-model="vm.newCommission.Description" required>
    </div>
    <div class="form-group">
      <!--will change price field and populate an example url of an artwork-->
      <label for="NumberCharacters">How many Characters</label>
      <input type="number" class="form-control" placeholder="" ng-model="vm.newCommission.NumberCharacters">
    </div>
    <div class="form-group" >
      <label for="Background">Select a background option</label>
        <select ng-model="vm.newCommission.Background" class="selectpicker">
        <option>No-background</option>
        <option>Simple-background</option>
        <option>Complex-background</option>
      </select>
    </div>
    <div class="form-group">
      <label for="UploadExample"> Upload an example image</label>
      <input type="text" class="form-control" placeholder="upload an example image here" ng-model="vm.newCommission.ExampleImage">
    </div>
    <button type="submit" class="btn btn-info" style="position: relative; left: 70px; margin-bottom: 25px">Submit</button>
  </form>

</div>
  <div class="criteria-example">
    <p style="text-align: center; margin-top: 10px">the image below will populate the Artwork examples based upon selected criteria to the left</p>
    <!--this field will populate the Artwork examples based upon selected criteria above-->
    <img src="./Images/Personal-Art/by_sicilianvalkyrie:6.jpg" alt="">
  </div>
  <h2>Feel free to contact me with any additional details jcbn@yahoo.com</h2>
</div>
