@media (max-width: 800px) {}

/* navigation bar begin*/
h4 {
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 5px;
}

.main-content {
    width: 100%;
}
.heading {
    background: black;
    position: relative;
    width: 100%;
    height: 30px;
}
/*Carosuel*/
.my-carousel {
    position: relative;
    border: 3px solid goldenrod;
    padding: 8px;
    background: #787B85;
    background-color: rgba(200,200,195,0.45);
}
.slick-container{
    margin-right: 75px;
    margin-left: 75px;
}
.featured-images {
    display: inline-block;
    margin: 12px;
}

.featured-images img{
    border-radius: 8px;
    background: black;
    padding: 8px;
    height: 550px;
    width: 335px;
}
.image {
    background: red;
}
.desc-container {
    border-radius: 3px;
    text-align: center;
    margin-top: 6px;
    width:345px;
}
.title {
    background: #d3cfc6;
    background-color: transparent 2;
}
.desc-button {
    outline: none;
    position: relative;
    background: #d3cfc6;
    border: 1px solid goldenrod;
    border-radius: 12px;
    padding: 4px 8px 4px;;
    color: black
}
.dropdown-desc {
    margin-top: 0px;
    background: #d3cfc6;
    border-radius: 12px;
    padding: 4px 8px 4px;;
    color: black;
}
.open > .desc-button {
    background: #d3cfc6 transparent;
    text-align: center;
}
.artist-bio-name {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0px;
    list-style-type: none;
    font-size: 50px;
    display: inline-flex;
    position: relative;
    justify-content: center;
}
.artist-bio-name li {
    padding-left: 65px;
    padding-right: 60px;
    font-family: fantasy;
}
.avatar {
    text-align: center;
    
}
.avatar img {
    height: 75px;
    width: 75px;
    border-radius: 40px;
}
.bio {
    margin: 10px 90px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 4px;
}
/*classes to build on later perhaps/*
.artist {
}
.contact {
}

.art {
}