/* {
     background-color: darkgreen;
}*/
body {
    background:#c3bdae;
    background: url(../Images/Commissions/by_sicilianvalkyrie:1.jpg) center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
}
@media (max-width: 800px) {}

/*aside-left and logo begin*/
header {
    background-color: #696969;
    border-radius: 26%;
    height: 40px;
    width: 55%;
    margin: 0 auto;
    position: absolute;
    top: 8px;
    left: 21%;
    color: white;
    text-align: center;
    padding-top: 12;
}
.welcome {
    text-align: center;
    top: 1px;
}
/* navigation bar begin*/

.left-aside {
    float: left;
    width: 20%;
    margin: 0 1.5%;
    line-height: 6;
}
.left-aside a{
    text-decoration: none;
    color: white;
}
.artist {
}
.contact {
}

.art {
}

li a:hover:not(.active) {
    background-color: #111;
}

/* begin divs for personal artwork*/
.right-aside {

  float: right;
  width: 15%;
  margin: 0 1.5%;
  }

.pic-thumb img{
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0;
  width: 100px;
  height: 100px;
  padding: 5px;
}
#voddom {
    border: solid white;
    float: right;

}
#the-seer {
    border: solid white;
    float: right;
}
#elfa-copic {
    background-color: white;
    float: right;
    border: solid black;
}

#dark_elf {
    border: solid white;
    left: 100px;
    float: right
}

#shimon {
    border: solid white;
    left: 100px;
    float: right;
}

/*end divs for personal artwork/*
