@media (max-width: 800px) {}

/* navigation bar begin*/

.welcome-text {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
    margin-top: 0px;
    margin-left: 134px;
    margin-right: 134px;
    color: whitesmoke;
    font-size: 22px;
    /*#c3bdae*/
}
.art-selection {
    background: black;
    position: relative;
    width: 100%;
    height: 30px;
}
.art-buttons {
    background: black;
    position: relative;
    width: 100%;
}
/*Art Type buttons */
.art-type {
    position: relative;
    top: 5px;
    left: 46%;
    background: #d3cfc6;
    border: 1px solid goldenrod;
    border-radius: 12px;
    padding: 4px 8px 4px;;
    color: black
}
/*want to have the above hidden when this unfolds over the top of it works but only because it IS ontop of it*/
/*want to make these on hover provide a sampling of images contained within (commissions, comics, personal etc.) 
in the carousel to replace images in carousel with images in clicked file and update current main img*/
.art-type-dropdown {
    margin-top: 0px;
    display: none;
    position: absolute;
    top: 2px;
    left: 37.4%;
    background: #d3cfc6;
    border: 1px solid goldenrod;
    border-radius: 12px;
    padding: 4px 8px 4px;;
    color: black;
}

.open > .art-type-dropdown {
    display: flex;
    justify-content: center;
    background: #d3cfc6 transparent;
    
    left: 5%;
    width: 90.5%;
    text-align: center;
}

li a:hover:not(.active) {
    background-color: #c3bdae;
    border-radius: 3px;
}
.art-category {
    height: 25px;
    margin-bottom: 5px;
}
/*to have the curently selected img to replace current main img*/
.pic-thumb img:hover:is(.active){
    background: url("../Images/Commissions/by_sicilianvalkyrie:1.jpg")
}
/*Carosuel*/
.carousel {
    display: inline-flex;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid goldenrod;
    padding: 8px;
    background: #787B85;
    background-color: rgba(200,200,195,0.45);
    border-radius: 12px;
}
.image-list {
    margin-bottom: 0;
    list-style: none;
    padding: 0px;
    display: inline-flex;
    justify-content: center;
}

.pic-thumb {
    padding: 2px;
}
.pic-thumb img{
  background: black;
  width: 100px;
  height: 100px;
  padding: 5px;
}
.home-main {
    position: relative;
    background: #333;
}
.home-main img {
    vertical-align: middle;
    border: 3px solid black;
    border-radius: 12px;
}
.current-img {
    margin-top: 2%;
    margin-right: 36%;
    margin-left: 33%;
    margin-bottom: 2%;
    height: 700px;
}
/*classes to build on later perhaps/*
.artist {
}
.contact {
}

.art {
}