.customer-form {
    display: inline-block;
    width: 30%;
}
.criteria-example {
    position: relative;
    float: right;
    height: 650px;
    width: 70%;
}
.criteria-example img {
    height: 650px;
    width: auto;
}
.selectpicker {
    display: block;
}