.customer-form {
    display: inline-block;
    width: 30%;
}
.criteria-example {
    position: relative;
    float: right;
    height: inherit;
    width: 70%;
}
.criteria-example img {
    height: 650px;
    width: 100%;
}
.selectpicker {
    display: block;
}
.contact {
    display: inline;
    line-height: 20px;
}