.main {
    background-color: rgba(200,200,195,0.45);
}
.lead {
    margin: 2px;
}
.register-container {
    position: relative;
    float: left;
    width: 30%;
    margin: 2px;
}
}
.testimonial-container {
    float: left;
    height: 600px;
    width: 69%;
    margin: 2px;
    text-align: center;

}
.testimonial-container h1{
    margin-top: 5px;
}
.testimonial-carousel {
    border: 5px solid blue;
}
.carousel-wrapper-outer {
    border: 4px solid black;
    background: gray;

}
.carousel-wrapper {
    border: 3px solid orange;
    border-bottom: none;
    border-top: none;
    /*margin: 0 30px;*/
}
.slick-list.draggable {
    background: url(../Images/Logo/LOGO-VALKYRIE-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -70px;
    background-size: 900px 700px;
    top: 0px;
}.slick-list {
    top: 10px;
}
.slick-prev:before, .slick-next:before {
    color: black;
}
.customer {
    background: black;
}

.customer-image-container img{
    margin: 0 auto;
    margin-top:12%;
    width: auto;
    height: 400px;
}
.customer-comments {
    margin: 0 10px;
    background: white;
    border-radius: 10px;
}
.button {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    position: relative;
    left: 40%;
}
