.main {
    background-color: rgba(200,200,195,0.45);
    background: #787B85;
}
.register-container {
    text-align: -webkit-center;
    position: relative;
    top: 54px;
    float: left;
    width: 30%;
    margin-top: 78px;
    margin-bottom: 78px;
}
.submit-button {
    background: #d3cfc6;
    border: 1px solid goldenrod;
    border-radius: 12px;
    padding: 4px 8px 4px;
    color: black;

}

section.testimonial-container {
    border: 3px solid goldenrod;
    border-bottom: none;
    border-top: none;
    float: left;
    text-align: center;
    float: left !important;
    height: inherit !important;
    width: 70% !important;
    background: #787B85;
    background-color: rgba(0,0,0,0.5);
}

.testimonial-container h1{
  font-size: 30px;
    margin-top: 5px;
}

.testimonial-carousel {
}

.carousel-wrapper-outer {
  margin-bottom: 45px;
    background: gray;
}

.carousel-wrapper {

    /*margin: 0 30px;*/
}

.slick-list.draggable {
    /*background: url(../Images/Logo/LOGO-VALKYRIE-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: -70px;
    background-size: 900px 700px;
    top: 0px;*/
}

.slick-list {
    top: 10px;
}

.slick-prev:before, .slick-next:before {
    color: black;
}

.customer {
    background: black;
}

.customer-image-container img{
    /*filter:brightness(.7);*/
    margin: 0 auto;
    margin-top: 3%;
    width: auto;
    height: 400px;
}

.customer-comments {
    margin: 0 10px;
    background: white;
    border-radius: 10px;
}

.client-statement {

}

.client-username {

}
