.featured-images.ng-scope.slick-slide.slick-current.slick-active:hover img{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}
.slick-container{
    background-color: rgba(0,0,0,0.5);
    height: 670px;
    /*margin: 25px 24px;
    padding-top: 5px;*/
}

.slick-list {
  height: inherit;
  top: 5px;
}

.slick-track {
  height: inherit;
}

.slick-slider {
  height: inherit;
}

.slick-slide {
  margin: 0 5vw;
  opacity: 0.50;
  height: auto;
}

.slick-active {
  opacity: 1;
}
