
/*dropdown-toggle {
    left: 50px;
}*/

.caret-desc {
    top: -10px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: relative;
}

@media (max-width: 800px) {

}

h4 {
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 5px;
}
h2 {
    line-height: 2px;
}

.lead {
    margin: 2px;
    margin-top: 45px;
}
